<!DOCTYPE html>
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <head>
        <title>Data Features</title>
        
    </head>
    
    <body>
        <div class="section">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/">Definition</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/features">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/data">Dataset</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/references">References</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              
                    
        <div class="container">

        
        <h1 style="color: red;">Dataset features</h1> 
       
        <p>The dataset features include physiological measurements, lifestyle choices, and biochemical markers, which were hypothesized to have strong correlations with age.</p>
        <ul>
            <li><b>ID: </b>Respondent Unique Identifier</a></li>
            <li><b>age_group: </b> Respondent's Age Group (senior/non-senior). For this subset respondents 65 years old and older were labeled  as “senior” and all individuals under 65 years old as “non-senior.” </a></li>
            <li><b>age: </b>Respondent's Age</a></li>
            <li><b>gender:</b> 1 represents Male and 2 represents Female</li>
            <li><b>physical_activity:</b> If the respondent engages in moderate or vigorous-intensity sports, fitness, or recreational activities in the typical week.
                1 represents that the respondent takes part in weekly moderate or vigorous-intensity physical activity and a 2 represents that they do not
                </a></li>
            <li><b>bmi: </b>Respondent's Body Mass Index</a></li>
            <li><b>blood_glucose:</b> Respondent's Blood Glucose after fasting</a></li>
            <li><b>diabetic: </b>If the Respondent is diabetic</a></li>
            <li><b>oral: </b>Respondent's Oral </a></li>
            <li><b>blood_insulin_level:</b> Respondent's Blood Insulin Levels </a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
    
</div>
</html>